@use './mixins' as *;

main{
  @include displayPosition(block, relative);
  min-height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 3;

  #display{
    position: relative;

    min-height: calc(100vh - 80px - 60px);
    z-index: 3;

    .create-list-button{
      @include displayPosition(block, absolute) ;
      height: auto;
      border: none;
      border-radius: 50%;
      top: 5px;
      right: 3%;
      z-index: 1500 !important;
      color: var(--bs-blue);

      &:hover{
        transform: scale(0.8);
        border-style: inset;
      }
    }
  }


}
