@use './mixins' as *;

#task-list{
  @include dimension(100%, calc(100vh - 80px ));
}

#item-list{
  @include dimension(95%, 80%);
  max-width: 550px;
  min-height: 70%;
  max-height: 90%;
  margin-bottom: 3%;
  border-radius: 15px;
  .header{
    @include displayPosition(block,relative);
    @include dimension(100%);
    @include boxShadow(0px 2px 5px rgba(0,0,0,0.2));
    line-height: 2.0;
    z-index: 2;
    border-bottom: 0px solid red;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

  }

  #item-title{
    @include displayPosition(block,relative);
    input{
      @include displayPosition(block,relative);
      position: relative;
      z-index: 3;
      font-weight: bold;
      background-color: rgba(0,0,0,0);
      border: none;
      outline: none;
      color: inherit;
    }
    input:focus{
      border-bottom: 2px solid #e0e0e0;
    }

    .color-choices{
      @include displayPosition(flex,absolute);
      @include flexAttribute(column,space-evenly,center);
      @include dimension(8vw,75px);
      min-width: 18px;
      top: 0px;
      right:10px;
      z-index: 1000;

      #color-selection{
        @include displayPosition(block,relative);
        //@include dimension(calc(4vw + 2*10px),calc(4vw + 2*10px));
        @include dimension(auto);
        padding: 5px;
        cursor: pointer;

        img{
          @include dimension(100%);
          @include dimension(4vw,auto);
          min-width: 18px;
          max-width: 24px;
          transition-duration: 0.5s;
          transition-timing-function: linear;
          //border-radius: 50%;
          margin:  0px auto;

        }
        .wheel{
          border-radius: 50%;
        }
        .wheel:hover{ transform: rotate(720deg);  }
        .letter:hover{ transform: scale(1.21);}

        &:hover .color-selector{
          display: block;
        }
      }

    }

  }

  #date{
    font-size: 0.9em;
    color: inherit;
  }
  #task-array{
    max-height: 70%;
    overflow-y: scroll;
  }
  .task{
    [name='complete']{
      @include displayPosition(block,relative);
      @include dimension(17px,17px);
      cursor: pointer;
      z-index: 10;

      &:active{
        animation: ripple 0.3s ease-out 0s 1 ;
       }
      
     .fake-checkbox{
       @include displayPosition(block,absolute);

      }

    }
    /*input:checked{
      background-color: blue ;
    }*/

    input[type='text']{
      font-size: 13px;
      @include dimension(100%);
      background-color: rgba(0,0,0,0);
      color: inherit;
      border: none;
      outline: none;
    }
    input[type='text']:focus{
      border:none;
    }
  }

  .trash{

    &:hover{
      transform: scale(1.1);
      opacity: 0.8;
    }
  }
}

@keyframes ripple {
  0%{
    border: 2px solid inherit;
    border-radius: 50%;
    opacity: 1;
    z-index: 10;
  }
  100%{
    border: 2px solid inherit;
    border-radius: 50%;
    opacity: 0;
    transform: scale(2);
  }
}