@use './mixins' as *;

.color-selector{
  @include displayPosition(none, absolute);
  top: 29px;
  right: 0px;
  z-index: 1020;

  .react-colorful{
    @include dimension(20%,130px);
    min-width: 120px;
    padding: 8px;
    border-radius: 12px;
    background: #33333a;
    box-shadow: 0 6px 12px #999;
  }

  .react-colorful__saturation {
    margin: 10px 0;
    border-radius: 5px;
    border-bottom: none;
  }

  .react-colorful__hue {
    order: -1;
  }

  .react-colorful__saturation-pointer{
    @include dimension(16px,16px);
  }

  .react-colorful__hue, .react-colorful__alpha {
    height: 8px;
    border-radius: 5px;
  }

  .react-colorful__hue-pointer, .react-colorful__alpha-pointer {
    width: 12px;
    height: 12px;
  }
}
